.app.dark {
  --inverted-bg-color: #f5f5f5;
  --bg-color: #282c34;

  --primary-color: #ff9f1a;
  --secondary-color: #33b5e5;
  --inverted--primary-color: #e83e8c;
  --inverted--secondary-color: #17a2b8;
}