.app.light {
    --bg-color: #f5f5f5;
    --inverted-bg-color: #282c34;
    --primary-color: #e83e8c;
    --secondary-color: #17a2b8;
    --inverted--primary-color: #ff9f1a;
    --inverted--secondary-color: #33b5e5;
}
